@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
		font-display: swap;
	}
}


@include font('ChronicleDisplay', normal, 900, '../fonts/Chronicle-Display/Chronicle-Display-Black.woff2');
@include font('ChronicleDisplay', normal, 600, '../fonts/Chronicle-Display/Chronicle-Display-Semibold.woff2');

@include font('Gilroy', normal, 500, '../fonts/Gilroy/Gilroy-Medium.woff2');
@include font('Gilroy', normal, 700, '../fonts/Gilroy/Gilroy-Bold.woff2');
@include font('Gilroy', normal, 800, '../fonts/Gilroy/Gilroy-Extrabold.woff2');